@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=ABeeZee");

.detailsContent {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.detailsRecipe {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  box-sizing: content-box;
  margin-bottom: 0px;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  background-color: rgba(242, 242, 205, 0.075);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 2px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
  border-right: 2px rgba(40, 40, 40, 0.35) solid;
  padding-bottom: 15px;
}

.infoRecipe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: content-box;
}

.imgConteiner {
  display: flex;
  justify-content: flex-start;
  margin-top: 2px;

  max-width: 100.5%;
  min-width: 100.5%;
  max-height: 150px;
  min-height: 150px;
}

.imgRecipeDetails {
  filter: blur(2px);
  width: 99.5%;
  /* height: 100%; */
  object-fit: cover;
  border-radius: 50% 50% 100% 100% / 10% 10% 100% 100%;
}

.nameEditCategoryServingIngDetails {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.nameRecipeDetails {
  height: 75px;
  font-family: "Josefin Sans";
}

.titleSectionsDetails {
  font-family: "Josefin Sans";
  font-weight: bold;
  font-size: 15px;
  color: black;
}

.ingredientsDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 75px;
}

.categoryServingDetails {
  margin-left: 75px;
}

.ingredientItems {
  font-size: 14px;
  font-family: "ABeeZee";
  color: black;
  margin-left: 15px;
}

.ingredientItems:hover {
  transition-property: font-size;
  transition-duration: 2s;
  font-size: 14.5px;
}

.allStepsItems {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 15px;
  margin-right: 15px;
}

.stepsDetails {
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.stepItem {
  font-size: 14px;
  font-family: "ABeeZee";
  color: black;
  text-align: justify;
  margin-top: 2px;
  margin-bottom: 5px;
}

.numberStep {
  font-weight: bold;
}

.iconCategoryRecipeDetails {
  font-size: 20px;
  height: 21px;
}

.titleCategoryDetails {
  font-family: "Josefin Sans";
  font-weight: bold;
  font-size: 15px;
  color: black;
  margin-bottom: 25%;
}

/* .detailsContent {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.detailsRecipe {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  box-sizing: content-box;
  margin-bottom: 0px;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  background-color: rgba(242, 242, 205, 0.075);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 2px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
  border-right: 2px rgba(40, 40, 40, 0.35) solid;
  padding-bottom: 15px;
}

.grayButton {
  margin-top: 8px;
  margin-bottom: 20px;
  display: flex;
  align-self: center;
  box-shadow: inset 0px 0px 0px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color: #768d87;
  border-radius: 15px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "ABeeZee";
  font-size: 12px;
  padding: 1px 4px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2b665e;
}

.grayButton:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color: #6c7c7c;
}

.grayButton:active {
  position: relative;
  top: 1px;
}

.infoRecipe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: content-box;

}

.imgConteiner {
  display: flex;
  justify-content: flex-start;
  margin-top: 2px;

  max-width: 100.5%;
  min-width: 100.5%;
  max-height: 150px;
  min-height: 150px;

}

.imgRecipeDetails {
  filter: blur(2px);
  width: 99.5%;

  object-fit: cover;
  border-radius: 50% 50% 100% 100% / 10% 10% 100% 100%;

}

.nameEditCategoryServingIngDetails {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;

}

.nameRecipeDetails {
  height: 75px;
  font-family: "Josefin Sans";
}

.titleSectionsDetails {
  font-family: "Josefin Sans";
  font-weight: bold;
  font-size: 15px;
  color: black;
}

.ingredientsDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 75px;
}

.categoryServingDetails {
  margin-left: 75px;
}

.ingredientItems {
  font-size: 14px;
  font-family: "ABeeZee";
  color: black;
  margin-left: 15px;
}

.ingredientItems:hover {
  transition-property: font-size;
  transition-duration: 2s;
  font-size: 14.5px;
}

.allStepsItems {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 15px;
  margin-right: 15px;
}

.stepsDetails {
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.stepItem {
  font-size: 14px;
  font-family: "ABeeZee";
  color: black;
  text-align: justify;
  margin-top: 2px;
  margin-bottom: 5px;
}

.numberStep {
  font-weight: bold;
} */
