label {
  font-family: "ABeeZee";
  font-size: 14px;
}

.recipeCreatorContent {
  display: flex;
  justify-content: center;
}
/* el elemento que contiene a esta clase tiene dos elementos hijos: el titulo "crear una receta" y el "form": */

.recipeCreator {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 750px;
  box-sizing: content-box;
  margin-top: 20px;
  margin-bottom: 0px;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  background-color: rgba(242, 242, 205, 0.075);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 2px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
  border-right: 2px rgba(40, 40, 40, 0.35) solid;
}

.formNewRecipe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.titleRecipeCreator {
  margin-top: 8px;
  margin-bottom: 10px;
}

.nameNewRecipe {
  margin-top: 5px;
}

.inputNameNewRecipe {
  width: 635px;
  background-color: #eee;
  border: none;
}

.categoryAndServings {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 8px;
  /* align-items: center; */
}

.categoryNewRecipe {
  margin-right: 11px;
}

.inputCategoryNewRecipe {
  width: 331px;
  background-color: #eee;
  border: none;
}

.servingsNewRecipe {
  margin-left: 11px;
}

.inputServingsNewRecipe {
  width: 200px;
  background-color: #eee;
  border: none;
}

.ingredientsNewRecipe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 705px;
  margin-top: 8px;
}

.inputQuantityNewRecipe {
  width: 100px;
  background-color: #eee;
  border: none;
  margin-left: 10px;
}

.inputImgNewRecipe {
  width: 630px;
  background-color: #eee;
  border: 0;
}

.addIngredientItem {
  align-items: center;
  height: 17px;
  font-size: 15px;
  padding: 0px 0px;
  box-shadow: inset 0px 0px 2px 0px #3dc21b;
  background: linear-gradient(to bottom, #23b84a 5%, #4d9925 100%);
  background-color: #23b84a;
  border-radius: 13px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 0px 0px #2f6627;
}

.addIngredientItem:hover {
  background: linear-gradient(to bottom, #4d9925 5%, #23b84a 100%);
  background-color: #4d9925;
}

.addIngredientItem:active {
  position: relative;
  top: 1px;
}

.addedIngredient {
  margin-top: 2px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
}

.allIngredients {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
  /* border: 3px solid #e7e7e7; */
}

.deleteIngredientItem {
  display: flex;
  align-self: center;
  height: 17px;
  box-shadow: inset 0px 0px 2px 0px #cf866c;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border-radius: 13px;
  border: 1px solid #942911;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  padding: 1px 4px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #854629;
}
.deleteIngredientItem:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}
.deleteIngredientItem:active {
  position: relative;
  top: 1px;
}

.ingredientItem {
  font-family: "ABeeZee";
  text-align: justify;
  font-size: 12px;
  color: #000000;
}

.stepsNewRecipe {
  margin-top: 8px;
}

.inputStepsNewRecipe {
  width: 685px;
  height: 70px;
  font-family: arial, verdana, ms sans serif;
  background-color: #eee;
  border: none;
}

.titleSteps {
  display: flex;
  justify-content: flex-start;
}
.newStep {
  display: flex;
  flex-direction: row;
}

.buttonAddStep {
  display: flex;
  align-items: center;
  align-self: center;
}

.allSteps {
  display: flex;
  flex-direction: column;
  width: 680px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.imgNewRecipe {
  margin-top: 8px;
}

.error {
  font-size: 10px;
  color: red;
  margin-top: 8px;
  margin-bottom: 25px;
}

.stepLengthError {
  font-size: 10px;
  color: red;
  padding: 3.5px;
}

.saveRecipeButton {
  margin-top: 8px;
  margin-bottom: 20px;
  display: flex;
  align-self: center;
  box-shadow: inset 0px 0px 2px 0px #3dc21b;
  background: linear-gradient(to bottom, #23b84a 5%, #4d9925 100%);
  background-color: #23b84a;
  border-radius: 13px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "ABeeZee";
  font-size: 12px;
  font-weight: bold;
  padding: 1px 4px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #2f6627;
}

.saveRecipeButton:hover {
  background: linear-gradient(to bottom, #4d9925 5%, #23b84a 100%);
  background-color: #4d9925;
}

.saveRecipeButton:active {
  position: relative;
  top: 1px;
}

.inputsNewRecipe {
  background-color: #eee;
  border: none;
}
