body {
  background-image: linear-gradient(
    90deg,
    #faf5fa 25%,
    #ffffff 25%,
    #ffffff 50%,
    #faf5fa 50%,
    #faf5fa 75%,
    #ffffff 75%,
    #ffffff 100%
  );
  background-size: 80px 80px;
}

nav {
  display: flex;
  justify-content: center;
  /* position: fixed; */
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #ffdfda 0,
    #ffdfd8 6.25%,
    #ffe0d5 12.5%,
    #ffe1d3 18.75%,
    #fee2d1 25%,
    #fbe3cf 31.25%,
    #f8e4ce 37.5%,
    #f5e5cd 43.75%,
    #f2e6cd 50%,
    #eee7cd 56.25%,
    #ebe8ce 62.5%,
    #e7e9cf 68.75%,
    #e3ead0 75%,
    #dfebd2 81.25%,
    #dcecd4 87.5%,
    #d8edd7 93.75%,
    #d5edda 100%
  );
  width: 100%;
  border: 5px solid #e7e7e7;

  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; */
  /* border-radius: 10px;
  backdrop-filter: blur(5px); */
  background-color: rgba(242, 242, 205, 0.075);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 2px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
  border-right: 2px rgba(40, 40, 40, 0.35) solid;
}

.success {
  font-size: 12px;
  color: green;
}

.failure {
  font-size: 12px;
  color: red;
}

.loading {
  font-size: 12px;
  color: black;
}

.error {
  font-size: 10px;
  color: red;
}

.items {
  font-size: 20px;
  color: black;
}

.botones {
}

.deleteButton {
  box-shadow: inset 0px 0px 0px 0px #963131;
  background: linear-gradient(to bottom, #b3afaf 5%, #f0e8e8 100%);
  background-color: #b3afaf;
  border-radius: 42px;
  border: 1px solid #6b666b;
  display: inline-block;
  cursor: pointer;
  color: #050505;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 7px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #f0ebeb;
}

.deleteButton:hover {
  background: linear-gradient(to bottom, #f0e8e8 5%, #b3afaf 100%);
  background-color: #f0e8e8;
}

.deleteButton:active {
  position: relative;
  top: 1px;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  /* width: 80px;
  height: 80px; */
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 20px solid #691281;
  border-color: #ffc0db transparent #daf5b1 transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
/* body {
  background-color: #f5f5f5;
} */

/* background-image: radial-gradient(circle at 50% -20.71%, #ffe7d5 0, #ffe8d2 6.25%, #ffe9cf 12.5%, #ffebce 18.75%, #ffeccc 25%, #ffeecb 31.25%, #fcefcb 37.5%, #f7f1cc 43.75%, #f2f2cd 50%, #edf3cf 56.25%, #e7f5d1 62.5%, #e2f6d4 68.75%, #ddf7d7 75%, #d8f8db 81.25%, #d3f9df 87.5%, #cff9e3 93.75%, #cbfae8 100%); */
