.contenedor {
  display: flex;
}

.align {
  display: table-cell;
  /* align-items: center; */
}

.logoImagen {
  margin: auto;
  text-align: center;
  max-width: 75px;
  max-height: 75px;
}

.logoTexto {
  margin-top: 15px;
  max-width: 75px;
  max-height: 75px;
}

.link {
  text-decoration: none;
}

.link:hover {
  transition-property: font-size;
  transition-duration: 1s;
  font-size: 18px;
}

.menu {
  display: inline;
  line-height: 65px;

  overflow: hidden;
  /* display: block; */
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* #links {
} */
