.img {
  display: flex;
  justify-content: flex-start;
  /* max-width: 400px;
  max-height: 400px;
  border-radius: 20px;
  margin: 30px; */
  border: 3px solid #e7e7e7;
  max-width: 300px;
  max-height: 250px;
  border-radius: 20px;
  margin: 10px;
  border: 7px solid #e7e7e7;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 2px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
  border-right: 2px rgba(40, 40, 40, 0.35) solid;
}

.items {
  color: black;
}

.details {
  width: 900px;
  height: 1250px;
  color: black;
  display: flex;
  /* display flex permite usar justify content y align items */
  justify-content: center;
  /* "justify-content" sirve para alinear horizontalmente */
  /* align-items: center;  sirve para alinear verticalmente*/
  gap: 20px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 2px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
  border-right: 2px rgba(40, 40, 40, 0.35) solid;
  margin-top: 70px;
}

.det {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
